<div class="container-fluid">
    {{#if currentUser}}
    
    <div>
        <h3 class='text-white font-weight-bold'> Welcome,
            <span>{{ currentUser.fullName }}</span>!
            <span class='font-weight-bold'>
			[ Status:
		    	{{#if currentUser.admin}}
		    		<span class='text-danger'>Admin</span>
		    	{{else}}
		    		{{#if currentUser.member}}
            			<span class='text-warning'>Member</span>
            		{{else}}
            			Visitor with an ID
            		{{/if}}
            	{{/if}} ]
            </span>
        </h3>
    </div>

    {{else}}

    <div class="alert alert-light m-1 m-3" role="alert">
        <h3 class='d-inline m-2'>Don't be a guest... come, join us!</h3>
        <button class="btn btn-outline-dark d-inline m-2"><a class='text-dark font-bold' href='/login'>Login</a> </button>
        <button class="btn btn-outline-dark d-inline m-2"><a class='text-dark font-bold' href='/signup'>Sign-up</a> </button>
    </div>
    
    {{/if}}
</div>


	<div class='ml-5 text-white'>
		<div class='row'></div>
		<h4>So in this member's club, you can...</h4>
		<ul>
		  <li>Create interesting posts and share with the club.</li>
		  <li>Read others' posts</li>
		  <li>Become member to see who posted a particular post</li>
		  <li>Become admin to delete a particular post</li>
		  <li>Have fun :D</li>
		</ul>
	</div>


	<hr>
	<h2 class='p-1 text-center font-weight-bold text-uppercase text-white' style='font-family: serif;'> Posts
	</h2>
	<div class='text-center'>
    {{#if post}}
	   {{#each post}}
	    <div class="card border-dark m-3" id='posts' style="width: 25rem; display: inline-block;">

	        <div class="card-header bg-transparent border-dark text-left">
	        	{{#if @root.currentUser}}
		            {{#if user}} {{ user.fullName }} {{else}} anon {{/if}}
				{{else}}
					>>	join us to see who posted<<
				{{/if}}
	        </div>

	        <div class="card-body text-dark text-left" style='height: 8rem; overflow: auto;'>
	            <h5 class="card-title font-weight-bold">{{ title }}</h5>
	           	<p class="card-text" id='hiddenContent' style='display: hidden'>{{{ content }}}</p>	           	
	        </div>

	        <div class="card-footer bg-transparent border-dark text-right">
	            {{ dateCreated }}
	        </div>

	        {{#if @root.currentUser.admin}}
	        	<div class='text-center'><hr> <a class='pl-1 text-danger font-weight-bold' href="/{{id}}/delete" data-toggle="tooltip" data-placement="left" title="Delete">DELETE</a></div>
	        {{/if}}
	    </div>
	   {{/each}}
	{{else}}

	<div class='display-5 text-center text-white font-weight-bold'>
		No posts are available at this moment :(
	</div>
	{{/if}}
	</div>
</div>