<div class="container">
{{#if currentUser}}
    <div class='bg-info'>
		<div class='class='d-inline text-white font-weight-bold'> Welcome,
		<div>{{ currentUser.fullName }}</div>!
		<div class='class='d-inline text-right'>
			[ Status:
		    	{{#if currentUser.admin}}
		    		<span class='text-danger'>Admin</span>
		    	{{else}}
		    	 {{#if currentUser.member}}
		    		<span class='text-warning'>Member</span>
		    	 {{/if}}
		    	{{/if}}
		    ]
		</div>
	    </div>
	</div>

{{else}}

<div class="alert alert-light m-1" role="alert">
	<h3 class='alert alert-white d-inline m-2'>Don't be a guess... come, join us!</h3>
   	<button class="btn btn-outline-dark d-inline m-2"><a class='text-dark font-bold' href='/login'>Login</a> </button>
   	<button class="btn btn-outline-dark d-inline m-2"><a class='text-dark font-bold' href='/signup'>Sign-up</a> </button>
</div>	
{{/if}}
</div>

<div class='post'>
	{{#each post}}
		<div class="card border-dark mb-3" style="max-width: 20rem; display: inline-block;">
		 
		  <div class="card-header bg-transparent border-success">
		  	{{#if user}}
		  		{{ user.fullName }}
		  	{{else}}
		  		anon
		  	{{/if}}
		  </div>

		  <div class="card-body text-dark">
		    <h5 class="card-title" style='font-family: sans-serif;'>{{ title }}</h5>
		    <p class="card-text">{{ content }}</p>
		  </div>

		  <div class="card-footer bg-transparent border-dark">
		  	{{ timestamp }}	
		  	{{#if @root.currentUser.admin}}
    			<a class='text-danger font-bold' href="/{{id}}/delete" data-toggle="tooltip" data-placement="left" title="Delete">DELETE (X)</a>
    	    {{/if}}
		  </div>
		</div>
	{{/each}}
</div>

