<div class="container">
{{#if currentUser}}
    <h3> Welcome,
	<span class='font-weight-bold'>{{ currentUser.fullName }}</span> !
    	{{#if currentUser.admin}}
    		Status: Admin!
    	{{else}}
    	 {{#if currentUser.member}}
    		 Status: Member!
    	 {{/if}}
    	{{/if}}
    </h3>

{{else}}

<div class="alert alert-light m-1" role="alert">
	<h3 class='alert alert-white d-inline m-2'>Don't be a guess... come, join us!</h3>
   	<button class="btn btn-outline-dark d-inline m-2"><a class='text-dark font-bold' href='/login'>Login</a> </button>
   	<button class="btn btn-outline-dark d-inline m-2"><a class='text-dark font-bold' href='/signup'>Sign-up</a> </button>
</div>	
{{/if}}
</div>

<div class='post'>
	{{#each post}}
		<div class="card border-dark mb-3" style="max-width: 20rem; display: inline-block;">
		  <div class="card-header bg-transparent border-success">{{user.fullName}}</div>
		  <div class="card-body text-success">
		    <h5 class="card-title">{{ title}}</h5>
		    <p class="card-text">{{ content }}</p>
		  </div>
		  <div class="card-footer bg-transparent border-success">
		  	{{timestamp}}
		  	{{#if currentUser.admin}}
		  		<a class='text-danger font-bold' href='/{{id}}/delete' data-toggle="tooltip" data-placement="left" title="Delete">(X)</a>
		  	{{/if}}
		  </div>
		</div>
	{{/each}}
</div>